.dropDownForm {
    .addBtn {
        margin-left: 1.8em;
        color: white;
        background-color: #47b6fe;
        border-style: none;
        padding: 12px;
        border-radius: 10px;
        font-family: Verdana;
    }

    .addBtn:hover {
        opacity: 70%;
        cursor: pointer;
    }
}