.newUserPage {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 1;
  animation: fadeIn .5s ease-in;
  max-width: 100%;
  overflow-x: hidden;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.loginForm {
  padding: 16px;
}

.form-group {
  margin: 1.5em;
}

label {
  display: block;
  font-size: 1.2em;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h2 {
  margin-left: 1em;
  margin-bottom: 2em;
}

.btn {
  margin-left: 1.5em;
}

.submitBtn {
  padding: 15px 40px;
  background: rgb(79, 168, 168);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  margin-right: 1.5em;
}

.submitBtn::after,
.submitBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.submitBtn::after {
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.submitBtn::before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.submitBtn:hover {
  padding: 15px 60px 15px 20px;
}

.submitBtn:hover::after,
.submitBtn:hover::before {
  opacity: 1;
  right: 15px;
}

.cancelBtn {
  padding: 15px 40px;
  background: rgb(255, 115, 0);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  margin-right: 1.5em;
}

.cancelBtn:hover {
  opacity: 0.8;
}

.errorMessage {
  position: sticky;
  top: 15em;
  right: 35em;
  background-color: rgba(255, 133, 133, 0.644);
  border-style: solid;
  border-radius: .5em;
  width: 30vw;
  margin: 1em;
  margin-bottom: 2.5em;
  padding: .5em;
  opacity: 1;
  animation: horizontal-shaking 0.25s;
}

@keyframes horizontal-shaking {
 0% { transform: translateX(0) }
 25% { transform: translateX(7px) }
 50% { transform: translateX(-7px) }
 75% { transform: translateX(7px) }
 100% { transform: translateX(0) }
}

.errorMessage:empty {
  display: none;
}

p {
  font-size: 1.1em;
  font-weight: bold;
}


@media (max-width: 700px) {

  .errorMessage {
    display: flex;
    flex-direction: row;
    position: sticky;
    height: 7em;
    width: 80%;
    margin-left: 2.3em;
    padding: 1em;
    padding-bottom: 2em;
  }

  p {
    margin-right: 1em;
  }


}
