@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(7px);
  }
  50% {
    transform: translateX(-7px);
  }
  75% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0);
  }
}

.deleteText {
  color: red;
  text-align: center;
  margin-right: 2em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.deleteText:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.6;
}

.deleteText:active {
  transform: translateY(2px);
}

.btn {
  .deleteBtn {
    padding: 15px 40px;
    background: red;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    margin-right: 1.5em;
    z-index: 1;
  }

  .deleteBtn:hover {
    opacity: 0.6;
  }
}

.deleteUserAlert {
  // animation: horizontal-shaking 0.25s;
  position: fixed;
  right: 0px;
  left: 0px;
  z-index: 999;
  background-color: white;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 15px;
  letter-spacing: 2px;
  border-radius: 20px;
  color: rgb(255, 0, 0);
  -webkit-box-shadow: 0px 0px 7px -5px black;
  box-shadow: 0px 0px 7px -5px black;
  overflow-x: hidden;
}

@media (max-width: 700px) {
  .deleteText {
    text-align: left;
    margin-left: 1.6em;
    margin-top: -50px;
    margin-bottom: 75px;
  }

  .btn {
    display: grid;
    gap: 15px;
    width: 250px;
  }

  .deleteUserAlert {
    bottom: 350px;
    width: 79%;
    margin-left: 2.5em;
    padding: 2em 1em;
    gap: 10px;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .form-group {
        width: auto;
      }
    }

    input {
      width: 300px;
    }

    .btn {
      display: grid;
      gap: 10px;
      margin-bottom: -60px;

      button {
        width: 300px;
      }
    }
  }
}

@media (min-width: 701px) {
  .deleteText {
    margin-bottom: 50px;
  }
  .overlay {
    display: block;
    text-align: center;

    .deleteUserAlert {
      display: inline-block;
      height: auto;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 25em;
      width: 450px;
      padding-top: 20px;

      .btn {
        margin-bottom: -35px;
      }
    }
  }
}
