.list {
  margin-top: 80px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-family: Verdana;
      font-size: 20px;
      color: rgb(59, 59, 59);
      letter-spacing: 1.5px;
      text-transform: capitalize;
    }

    .catIcons {
      padding-top: 8px;
      color: #47b6fe;
      font-size: 30px;
    }

    .catIcons:hover {
      cursor: pointer;
      opacity: 70%;
    }
  }

  .center {
    display: block;
    text-align: center;

    .form-control {
      width: 60%;
    }
  }

  .bottom {
    margin-top: -70px;
  }
}

@media (max-width: 700px) {
  .list {
    margin-top: 20px;
  }
}

@media (min-width: 701px) {
  .list {
    margin: 120px 25%;

    .center {
      padding-bottom: 60px;
    }

    .noItems {
      p {
        text-align: center;
        font-weight: bold;
        margin-top: -2em;
      }
    }

    .bottom {
      border-style: solid;
      border-width: 1px;
      border-color: rgb(224, 224, 224);
      border-radius: 25px;
      padding: 10px 15px 0 15px;
    }
  }
}
