.list {
  margin-top: 80px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-family: Verdana;
      font-size: 20px;
      color: rgb(59, 59, 59);
      letter-spacing: 1.5px;
      text-transform: capitalize;
    }

    .catIcons {
      padding-top: 8px;
      color: #47b6fe;
      font-size: 30px;
    }

    .catIcons:hover {
      cursor: pointer;
      opacity: 70%;
    }
  }

  .center {
    display: block;
    text-align: center;

    .searchForm {
      margin-bottom: 10px;
    }

    .form-control {
      width: 60%;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      h4 {
        font-family: Verdana;
        font-size: 13px;
        font-weight: 100;
        color: gray;
      }

      .sortButton {
        border-style: none;
        background-color: white;
        font-family: Verdana;
        color: rgb(75, 75, 75);
      }

      .sortButton:hover {
        cursor: pointer;
        color: #47b6fe;
      }

      .selectedSort {
        color: #47b6fe;
        font-weight: 600;
      }
    }
  }

  .bottom {
    margin-top: -70px;
  }
}

@media (max-width: 700px) {
  .list {
    margin-top: 20px;

    .noItems {
      p {
        text-align: center;
        margin-top: 50px;
      }
    }
  }
}

@media (min-width: 701px) {
  .list {
    margin: 120px 25%;

    .center {
      padding-bottom: 60px;
    }

    .noItems {
      p {
        text-align: center;
        font-weight: bold;
        margin-top: -3em;
      }
    }

    .bottom {
      border-style: solid;
      border-width: 1px;
      border-color: rgb(224, 224, 224);
      border-radius: 25px;
      padding: 5px 15px 0px 15px;
    }
  }
}
