.notificationDropDown {
  opacity: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1em;
  top: 6.8em;
  max-width: 300px;
  animation: fadeIn 0.2s ease-in;
  cursor: auto;

  .addLink {
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    font-family: Verdana;
    font-size: 12px;
    font-weight: 100;
    color: rgb(100, 100, 100);
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-top: 5px;


    .image {
        max-width: 100px;
    }
  }
}
