@media (max-width: 700px) {
  .newItemPage {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
  }

  h2 {
    margin: 3em;
    text-align: center;
  }

  .form-group {
    width: 295%;
  }

  select {
    width: 30%;
    height: 2.5em;
    box-sizing: border-box;
  }

  input {
    width: 100%;
  }
  form {
    margin-bottom: 3em;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.newItemPage {
  opacity: 1;
  animation: fadeIn 0.5s ease-in;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: .90em;
  font-weight: bold;
}

h2 {
  font-size: 1.8em;
  text-decoration: underline;
}

label {
  margin-bottom: .5em;
}


form {
  margin-bottom: 3em;
}

