.category {
  margin-top: 40px;

  .top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    

    h1 {
      font-family: Verdana;
      font-size: 25px;
      color: rgb(59, 59, 59);
      letter-spacing: 1.5px;
    }

    button{
      margin-left: 1em;
      margin-top: .4em;
      border-radius: .4em;
      padding: .5em;

    }

    button:hover {
      background-color: rgb(226, 224, 224);
    }

    .buttonLink {
      text-decoration: none;
    }

  }

  .bottom {
    .arrows {
      text-align: center;

      .arrowBack {
        padding: 7px;
        color: gray;
      }

      .arrowForward {
        padding: 7px;
        color: gray;
      }
    }
  }
}

@media (max-width: 700px) {
  .arrows {
    display: none;
  }
}
