.category {
    margin-top: 70px;
        
    .top {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        
        h1 {
            font-family: Verdana;
            font-size: 20px;
            font-weight: normal;
            color: rgb(59, 59, 59);
            letter-spacing: 1.5px;
        }
    }

    .bottom {

        .arrows {
            text-align: center;
            
            .arrowBack {
                padding: 7px;
                color: gray;
            }

            .arrowForward {
                padding: 7px;
                color: gray;
            }
        }
    }
}