.category {
    margin: 90px 250px;

    .top {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        
        h1 {
            font-family: Verdana;
            font-size: 20px;
            font-weight: normal;
            color: rgb(59, 59, 59);
            letter-spacing: 1.5px;
        }
    }

    .bottom {
        border-style: solid;
        border-width: 1px;
        border-color: rgb(224, 224, 224);
        border-radius: 15px;

        .arrows {
            text-align: center;
            
            .arrowBack {
                padding: 7px;
                color: gray;
            }

            .arrowForward {
                padding: 7px;
                color: gray;
            }
        }
    }
}