@media (min-width: 701px) {
  .loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: 100;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    label {
      font-size: 14px;
    }

    input {
      width: 100%;
    }

    .loginBtn {
      margin-top: 0.5em;
      font-size: 15px;
      width: 100%;
      height: 2.5em;
      background-color: #47b6fe;
      color: white;
      border-style: none;
      text-transform: capitalize;
    }

    .loginBtn:hover {
      opacity: 70%;
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: 100;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    label {
      font-size: 14px;
    }
    .loginBtn {
      margin-top: 0.5em;
      font-size: 15px;
      width: 10em;
      height: 2.5em;
      background-color: #47b6fe;
      color: white;
      border-style: none;
      text-transform: capitalize;
    }

    .loginBtn:hover {
      opacity: 70%;
      cursor: pointer;
    }
  }
}
