

.dropDownForm {
  margin-left: 2em;
  margin-top: -1.5em;
  margin-bottom: -1.5em;
  animation: slide-up 0.3s cubic-bezier(0.4, 0, 0.2, 1) backwards;

  .moveItemCatForm {
    height: 20em;
    width: 40em;
    overflow-y: scroll;
    overflow-x: hidden;

    input {
      z-index: 998;
    }

    select {
      z-index: 999;
    }

    button {
      margin-left: 1.8em;
      color: white;
      background-color: #47b6fe;
      border-style: none;
      padding: 12px;
      border-radius: 10px;
      font-family: Verdana;
    }

    button:hover {
      opacity: 70%;
      cursor: pointer;
    }

    .multiselect {
      width: 25.7em;
      height: 2em;
      text-align: center;
      font-size: 14px;
      border-style: solid;
      border-width: 0.1em;
      border-color: rgb(201, 201, 201);
    }
  }
}

.p-placeholder {
  margin-top: 0.3em;
}

.p-multiselect-header {
  display: none;
}

.p-mulstiselect-label {
  margin-top: 0.3em;
}

span {
  margin-top: 0.3em;
  margin-right: 0.3em;
}

.p-multiselect-token-icon {
  margin-right: 1.5em;
}

.p-multiselect-trigger-icon {
  margin-right: 0.5em;
}

.p-multiselect-items-wrapper {
  border-left: solid;
  border-right: solid;
  border-width: 0.1em;
  border-color: rgb(201, 201, 201);
}

.p-multiselect-item {
  border-bottom: solid;
  border-width: 0.1em;
  border-color: rgb(201, 201, 201);
  height: 4em;
  z-index: 999;
  background-color: white;
  font-family: Verdana;
  font-size: 13px;
  padding-left: 10px;
}

.p-multiselect-item:hover {
  background-color: rgb(214, 214, 214);
}

.p-multiselect-item:active {
  background-color: rgb(216, 228, 230);
}
