.bottom {
  z-index: 998;
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .options {
    margin: 1em;
    width: auto;
    height: auto;
    .top {
      display: flex;
      margin-bottom: 50px;
      margin-left: 0.5em;
      margin-top: 2em;
      gap: 25px;

      .item {
        font-size: 19px;
        font-family: Verdana;
        color: rgb(99, 99, 99);
        letter-spacing: 1.5px;
      }
    }

    .bottom {
      .categories {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        font-family: Verdana;
        font-size: 16px;
        letter-spacing: 1px;
        color: rgb(87, 87, 87);

        .cat {
          text-align: center;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(219, 219, 219);
          border-radius: 5%;
          margin-bottom: 3em;
          height: 200px;
          width: 200px;
          background-color: rgb(255, 255, 255);
          margin-left: 5px;
          margin-right: 5px;

          .catIcon {
            margin-top: 30px;
            font-size: 70px;
            padding: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) and (min-width: 701px) {
  .options {
    margin: 120px 250px;

    .top {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: -3em;

      .item {
        font-size: 19px;
        font-family: Verdana;
        letter-spacing: 1.5px;
      }
    }

    .bottom {
      .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        font-family: Verdana;
        font-size: 16px;
        letter-spacing: 1px;
        color: rgb(94, 94, 94);

        .cat {
          text-align: center;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(224, 224, 224);
          border-radius: 5%;
          height: 200px;
          width: 200px;
          margin-bottom: 3.5em;
          margin-left: 5px;
          margin-right: 5px;

          .catIcon {
            margin-top: 30px;
            font-size: 70px;
            padding: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 1601px) {
  .options {
    margin: 120px 250px;

    .top {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: -3em;

      .item {
        font-size: 19px;
        font-family: Verdana;
        letter-spacing: 1.5px;
      }
    }

    .bottom {
      .categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        font-family: Verdana;
        font-size: 16px;
        color: rgb(94, 94, 94);

        .cat {
          text-align: center;
          border-style: solid;
          border-width: 1px;
          border-color: rgb(224, 224, 224);
          border-radius: 5%;
          height: 200px;
          width: 200px;
          margin-bottom: 3em;

          .catIcon {
            margin-top: 30px;
            font-size: 70px;
            padding: 15px;
          }
        }
      }
    }
  }
}
