.navbar {
  z-index: 100;
}

@media (max-width: 700px) {
  .navbar {
    max-width: 100%;
    overflow-x: hidden;
  }

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Alexandria;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0.05em;
    text-overflow: shrink;

    .link {
      color: rgb(96, 192, 255);
    }
  }

  .icons {
    background-color: rgb(255, 255, 255);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    .navIcon {
      font-size: 50px;
    }
  }

  .mobileNotifIcon {
    margin-top: 0.2em;

    .navIcon {
      font-size: 7.5vw;
    }
  }

  .notifIcon {
    display: none;
  }
}

@media (min-width: 701px) {
  .navbar {
    height: 80px;

    .wrapper {
      padding: 20px 120px;
      border-bottom: solid;
      border-bottom-width: 0.2px;
      border-bottom-color: rgb(224, 224, 224);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;
        font-size: 27px;
        font-family: Alexandria;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: rgb(96, 192, 255);

        .mobileNotifIcon {
          display: none;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 25px;

        .icons {
          display: flex;
          gap: 25px;
          cursor: pointer;
          color: rgb(59, 59, 59);
        }
      }
    }
  }

  .userForm {
    animation: fadeIn 0.1s ease-in;
    background-color: rgb(255, 249, 243);
    border-style: solid;
    border-radius: 0.3em;
    position: absolute;
    top: 4.7em;
    right: 0.033em;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    z-index: 5;
  }

  .logoutForm {
    animation: fadeIn 0.1s ease-in;
    background-color: rgb(255, 249, 243);
    border-style: solid;
    border-radius: 0.3em;
    position: absolute;
    right: 0.033em;
    top: 4.7em;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    z-index: 5;

    .link:hover {
      color: rgb(90, 89, 89);
      text-decoration: underline;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
