.navbar {
  z-index: 100;
}

@media (max-width: 700px) {
  .navbar {
    max-width: 100%;
    overflow-x: hidden;
  }

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    padding: 0.05em;
    text-overflow: shrink;

    .logo {
      margin-top: 10px;
      width: 250px;
    }
  }

  .icons {
    background-color: rgb(255, 255, 255);
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: rgb(128, 128, 128);
    cursor: pointer;

    .navIcon {
      font-size: 50px;
    }
  }

  .mobileNotifIcon {
    margin-top: 0.2em;

    .navIcon {
      font-size: 7.5vw;
      color: rgb(128, 128, 128);
    }
  }

  .notifIcon {
    display: none;
  }
}

@media (min-width: 701px) {
  .navbar {
    height: 80px;

    .wrapper {
      padding: 20px 120px;
      border-bottom: solid;
      border-bottom-width: 0.2px;
      border-bottom-color: rgb(224, 224, 224);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        .logo {
          width: 250px;
        }

        .mobileNotifIcon {
          display: none;
        }
      }

      .right {
        display: flex;
        align-items: center;
        gap: 25px;

        .icons {
          display: flex;
          gap: 25px;
          cursor: pointer;
          color: rgb(128, 128, 128);

          .navIcon {
            font-size: 30px;
          }
        }
      }
    }
  }

  .addItemDropDown {
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    animation: fadeIn 0.2s ease-in;

    .addLink {
      border-style: solid;
      border-width: 0.1em;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 12px 16px;
      z-index: 1;
    }
  }

  .userForm {
    animation: fadeIn 0.1s ease-in;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5.7em;
    right: 0.05em;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    z-index: 5;
    font-family: Verdana;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 0px 7px -5px black;
    box-shadow: 0px 0px 7px -5px black;
  }

  .logoutForm {
    animation: fadeIn 0.1s ease-in;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0.033em;
    top: 4.7em;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    z-index: 5;
    -webkit-box-shadow: 0px 0px 7px -5px black;
    box-shadow: 0px 0px 7px -5px black;

    .link:hover {
      color: rgb(90, 89, 89);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
