.dropDownForm {
  margin-left: 2em;
  
  .moveItemForm {
    display: flex;
    flex-direction: row;

    select {
      width: 10em;
      height: 2em;
      text-align: center;
    }

    button {
      margin-top: 2em;
    }
  }
}
