@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search {
  opacity: 1;
  animation: fadeIn 0.5s ease-in;
  display: flex;
  flex-direction: column;
  font-family: Verdana;

  form {
    margin-top: 5em;
    margin-bottom: 2em;
  }
  .searchOptions {
    display: flex;
    margin-bottom: 5em;
    justify-content: center;

    .top {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: -3em;

      .item {
        font-size: 19px;
        font-family: Verdana;
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
    }
  }


  .input-group {
    width: auto;
    text-align: center;
  }
}
